BY_GuaranteeCertificate_1.0.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gc="urn:BY:GuaranteeCertificate:1.0.1"
           xmlns:clt="urn:CU:CommonLeafTypes:1.0.1" xmlns:cat="urn:CU:CommonAggregateTypes:1.0.1.1"
           targetNamespace="urn:BY:GuaranteeCertificate:1.0.1" elementFormDefault="qualified" version="1.0.1.0">
    <xs:import namespace="urn:CU:CommonLeafTypes:1.0.1" schemaLocation="CommonLeafTypes_Cust.xsd"/>
    <xs:import namespace="urn:CU:CommonAggregateTypes:1.0.1.1" schemaLocation="CU_CommonAggregateTypes_1.0.1.1.xsd"/>
    <xs:annotation>
        <xs:documentation>Свидетельство о предоставленном обеспечении</xs:documentation>
    </xs:annotation>
    <xs:element name="GuaranteeCertificate" type="gc:GuaranteeCertificateType"/>
    <xs:complexType name="GuaranteeCertificateType">
        <xs:annotation>
            <xs:documentation>Реквизиты ЭД "Свидетельство о предоставленном обеспечении"</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DeclarantInfo" type="gc:GuaranteeCertificateDeclarantInfoType">
                <xs:annotation>
                    <xs:documentation>Сведения, заполняемые декларантом</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CustomsInfo" type="gc:GuaranteeCertificateCustomsInfoType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Сведения, заполняемые должностным лицом</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="skip" minOccurs="0" maxOccurs="2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GuaranteeCertificateDeclarantInfoType">
        <xs:annotation>
            <xs:documentation>Сведения, заполняемые декларантом</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="cat:BaseDocType">
                <xs:sequence>
                    <xs:element name="DocumentDateTime" type="clt:DateTimeCustType">
                        <xs:annotation>
                            <xs:documentation>Дата и время формирования документа</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NationalGuarantorSing" type="clt:Code2Type" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Код многократности использования свидетельства о предоставленном
                                обеспечении
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ElectronicDocumentSign" type="clt:Code2Type" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Код использования сертификата обеспечения в форме электронного документа.
                                ЭД
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PaymentWayCode" type="clt:Code2Type">
                        <xs:annotation>
                            <xs:documentation>Код способа обеспечения уплаты в соответствии с Классификатором способов
                                обеспечения уплаты таможенных пошлин, налогов
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DocumentNumber" type="clt:DocumentNumberType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Регистрационный номер документа, обеспечивающего уплату, согласно журналу
                                регистрации документов, обеспечивающих уплату
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CertificateCost" type="cat:GoodsCostType">
                        <xs:annotation>
                            <xs:documentation>Сумма, на которую регистрируется свидетельство о предоставленном
                                обеспечении
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ProcedingCertificateNumber" type="cat:GTDIDType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Предшествующий документ.
                                Регистрационный номер предшествующего свидетельства о предоставленном обеспечении
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EnsurePerson" type="cat:OrganizationType">
                        <xs:annotation>
                            <xs:documentation>Лицо, предоставившее обеспечение, или поручитель</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Declarant" type="cat:OrganizationType" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Декларант</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DepartureCustomsOffice" type="cat:CustomsOfficeType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Таможенный орган отправления</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EnsuringDocument" type="cat:DocumentBaseType" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Сведения о документе, которым предоставлено обеспечение</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ProducedDocument" type="cat:DocumentType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Представленные коммерческие, транспортные (перевозочные) документы или
                                сведения о транспортном средстве, временно ввозимом физическим лицом
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DestinationCustomsOffice" type="cat:CustomsOfficeType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Таможенный орган назначения</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FilledPerson" type="gc:FilledPersonType">
                        <xs:annotation>
                            <xs:documentation>Сведения о лице, сформировавшем свидетельство о предоставленном
                                обеспечении
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CasesProvidingEnsure" type="clt:Code2Type" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Код основания предоставления обеспечения</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="ID" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Идентификатор (атрибут). Для ЭЦП.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FilledPersonType">
        <xs:annotation>
            <xs:documentation>Сведения о лице, сформировавшем сертификат"</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PersonSurname" type="clt:NameType">
                <xs:annotation>
                    <xs:documentation>Фамилия физического лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PersonName" type="clt:NameType">
                <xs:annotation>
                    <xs:documentation>Собственное имя физического лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PersonMiddleName" type="clt:NameType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Отчество физического лица (если таковое имеется)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PersonPost" type="clt:PostType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Должность</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Phone" type="clt:PhoneNumberType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Телефон.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AuthoritesDocument" type="cat:AuthoritesDocumentType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Сведения о документе, удостоверяющем полномочия</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GuaranteeCertificateCustomsInfoType">
        <xs:annotation>
            <xs:documentation>Сведения, заполняемые должностным лицом</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RegistrationInfo" type="gc:RegistrationInfoType">
                <xs:annotation>
                    <xs:documentation>Сведения о регистрации свидетельства о предоставленном обеспечении
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="ID" type="xs:string">
            <xs:annotation>
                <xs:documentation>Идентификатор (атрибут). Для ЭЦП.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="RegistrationInfoType">
        <xs:annotation>
            <xs:documentation>Сведения о регистрации сертификата</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CertificateNumber" type="cat:GTDIDType">
                <xs:annotation>
                    <xs:documentation>Регистрационный номер сертификата</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CertificateDateLimit" type="clt:DateCustType">
                <xs:annotation>
                    <xs:documentation>Срок действия свидетельства о предоставленном обеспечении</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StampInfo" type="gc:StampInfoType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Информация из оттиска штампа таможенного органа. Информация о совершении
                        операции
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StampInfoType">
        <xs:annotation>
            <xs:documentation>Информация из оттиска штампа таможенного органа. Информация о совершении операции
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StampDateTime" type="clt:DateTimeCustType">
                <xs:annotation>
                    <xs:documentation>Дата и время совершения операции.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CustomsOfficial" type="cat:CustomsOfficialType">
                <xs:annotation>
                    <xs:documentation>Сведения о должностном лице (инспекторе) таможенного органа</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
